.main-footer {
  @media (min-width: 0px) {
    display: flex;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    margin-top: 15rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 768px) {
    margin-top: 2rem;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    height: 1.5rem;
  }

  &-rs {
    color: #ffffff;
  }

  &-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
  }

  &-git {
    color: #ffffff;
    transition: all 0.4s ease;

    & i {
      margin-left: 0.5rem;
    }

    &:hover {
      text-decoration: none;
      color: #9e93ff;
    }
  }
}