.navbar-user {
  padding: 12px;
  background-color: #000000;

  @media (max-width: 767px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-content {
  width: 90%;
}

.nav-width-wrapper {
  max-width: 1500px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.a-basic {
  font-size: 15px;
  color: #a3a3a3;
  text-decoration: none;
  transition: all 0.4s ease;

  @media (max-width: 1000px) {
    font-size: 0;

    i {
      font-size: 15px;
    }
  }
}

.a-basic:hover {
  color: #ffffff;
  text-decoration: none;
}

.a-basic i {
  transition: all 0.4s ease;
}

.a-basic:hover i {
  color: #df2525;
}

.a-actve {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  cursor: default;

  @media (max-width: 1000px) {
    font-size: 0;

    i {
      font-size: 15px;
    }
  }
}

.a-actve i {
  color: #ffdd2d;
  transition: all 0.3s ease;
}

.a-actve:hover {
  color: #ffffff;
  text-decoration: none;
}

.a-actve:hover i {
  transform: translateY(-2px);
}

.movies-body:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#474747, #131313);
  z-index: -1;
}

.search-btn {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: none;
  background-color: #a3a3a3;
  border-radius: 5px;

  @media (max-width: 767px) {
    margin-right: 20px;
  }
}

.search-btn i {
  color: #ffffff;
}

.search-btn-active {
  background-color: #ffdd2d;
  border-radius: 0 5px 5px 0;
}

.search-btn-active i {
  color: #333333;
}

.search-input {
  width: 0;
  border-radius: 5px 0 0 5px;
  border: none;
  transition: all 0.4s ease;
}

.search-input-active {
  width: 25rem;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-item {
  position: relative;
  width: 100%;
  height: 100%;
  animation: faderBasic;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.item-wrapper {
  @media (min-width: 0px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    padding-top: 100px;
    background-color: #ffffff;
    border-radius: 5px;
  }

  @media (min-width: 768px) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px;
    margin-top: 20px;
    padding-top: 0;
    background-color: #ffffff;
    border-radius: 5px;
  }

  @media (max-width: 1199px) {
    width: 94.5%;
  }
}

.global-movie-bg {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 15rem;
}

.poster-wrapper {
  @media (min-width: 0px) {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 35rem;
    outline: 1px solid red;
  }

  @media (min-width: 768px) {
    width: 28%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate(0%, 0%);
  }

  @media (min-width: 1200px) {
    position: absolute;
    top: 0;
    left: 0;
    width: 37%;
    height: 100%;
  }
}

.info-poster {
  @media (min-width: 0px) {
    position: relative;
    top: 70px;
    left: 0;
    width: 100%;
    height: 30rem;
    background-color: #dddddd;
    border-radius: 10px;
    background-image: url('https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: -17px;
    left: -17px;
    width: 100%;
    height: 85%;
  }

  @media (min-width: 1200px) {
    height: 61%;
  }

  @media (min-width: 1300px) {
    height: 66%;
  }

  @media (min-width: 1400px) {
    height: 70%;
  }

  @media (min-width: 1500px) {
    height: 80%;
  }

  @media (min-width: 1600px) {
    height: 90%;
  }

  @media (max-width: 1199px) {
    height: 100%;
  }

  @media (max-width: 1199px) {
    height: 100%;
  }

  @media (max-width: 1100px) {
    height: 90%;
  }

  @media (max-width: 1000px) {
    height: 70%;
  }

  @media (max-width: 900px) {
    height: 75%;
  }

  @media (max-width: 800px) {
    height: 65%;
  }
}

.logo-relative {
  @media (max-width: 767px) {
    display: none;
  }
}

.info-time,
.info-year,
.info-rated {
  margin: 2px;
  font-size: 13px;
  color: #949494;
  margin-right: 10px;
}

.info-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.info-genres p {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #313131;
}

.about {
  @media (min-width: 0px) {
    width: 100%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    z-index: 2;
  }

  @media (min-width: 768px) {
    width: 73%;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    z-index: 2;
  }

  @media (min-width: 1199px) {
    position: relative;
    width: 67%;

  }
}

.about-name {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
}

.about-rating {
  position: absolute;
  background-color: #ffffff;
}

.about-imdb-middle {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 8px;
  font-weight: 500;
  color: #333333;
  border-radius: 5px;
  background-color: #ffdd2d;
}

.about-imdb-low {
  color: #ffffff;
  background-color: #ee3f33;
}

.about-imdb-high {
  color: #ffffff;
  background-color: #28da72;
}

.about-static {
  display: flex;
  align-items: center;
}

.about-description {
  font-size: 16px;
  margin-bottom: 25px;
}

.about-director,
.about-writers,
.about-starring {
  margin: 4px;
  margin-left: 0;
  font-size: 13px;
  color: #949494;
}

.about-add-favorite {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.about-add-favorite path {
  fill: #333333;
}

.add-active path {
  fill: #df2525;
}

.watch-on-imdb {
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border: none;
  background-color: #ffdd2d;
  transition: all 0.4s ease;
}

.watch-on-imdb i {
  transition: all 0.4s ease;
}

.watch-on-imdb:hover {
  background-color: #ffc72d;
}

.watch-on-imdb:hover i {
  transform: translateX(3px);
}