.navbar-user {
  padding: 12px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #000000;
}

.nav-width-wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.a-basic {
  font-size: 15px;
  color: #a3a3a3;
  text-decoration: none;
  transition: all 0.4s ease;
}

.a-basic:hover {
  color: #ffffff;
  text-decoration: none;
}

.a-basic i {
  transition: all 0.4s ease;
}

.a-basic:hover i {
  color: #df2525;
}

.a-actve {
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  cursor: default;
}

.a-actve i {
  color: #ffdd2d;
  transition: all 0.3s ease;
}

.a-actve:hover {
  color: #ffffff;
  text-decoration: none;
}

.a-actve:hover i {
  transform: translateY(-2px);
}

.user-profile {
  position: relative;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-image: url('../img/user-icon.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  outline-color: transparent;
}

.user-profile::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: url('../img/down-arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.movies-body:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#474747, #131313);
  z-index: -1;
}

.user-drop-menu {
  position: absolute;
  top: 60px;
  right: 0;
  width: 200px;
  background-color: rgba($color: #000000, $alpha: 0.8);
  z-index: 50;
}

.user-drop-menu::after {
  content: "";
  position: absolute;
  top: -17px;
  right: 8px;
  width: 0;
  height: 0;
  border: 9px solid rgba($color: #000000, $alpha: 0.8);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  z-index: 200;
}

.user-drop-wrapper {
  position: absolute;
  top: 15px;
  right: 83px;
  transition: all 0.4s ease;
  z-index: 30;
  transform-origin: 10px 50px;
  animation: dropMenu;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes dropMenu {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.search-btn {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #a3a3a3;
  border-radius: 5px;
}

.search-btn i {
  color: #ffffff;
}

.search-btn-active {
  background-color: #ffdd2d;
  border-radius: 0 5px 5px 0;
}

.search-btn-active i {
  color: #333333;
}

.search-input {
  width: 0;
  border-radius: 5px 0 0 5px;
  border: none;
  transition: all 0.4s ease;
}

.search-input-active {
  width: 25rem;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-item {
  position: relative;
  max-width: 42rem;
  min-height: 29rem;
  background-color: #ffffff;
  border-radius: 10px;
  animation: faderBasic;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.global-movie-bg {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(0.30turn, #000000, #757575);
  z-index: 1;
}

.global-movie-bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8.7px 8.7px 0 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-wrapper {
  position: relative;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 27rem;
}

.info-block {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 10.5rem;
  z-index: 2;
}

.info-poster {
  width: 100%;
  height: 15rem;
  margin-bottom: 20px;
  background-color: #dddddd;
  border-radius: 10px;
  background-image: url('https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.15);
}

.info-time,
.info-year,
.info-rated {
  margin: 2px;
  font-size: 13px;
  color: #949494;
}

.info-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.info-genres p {
  margin: 0;
  margin-right: 5px;
  margin-bottom: 7px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #313131;
}

.about {
  position: relative;
  width: 27rem;
  margin-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  z-index: 2;
}

.about-name {
  margin-bottom: 30px;
  font-weight: 300;
  color: #ffffff;
}

.about-imdb,
.about-meta {
  position: relative;
  margin-left: 45px;
  margin-right: 25px;
  font-weight: 500;
  color: #ffffff;
}

.about-imdb::before,
.about-meta::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -45px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: #ffdd2d;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
}

.about-imdb::before {
  background-image: url('../img/imdb-logo.png');
}

.about-meta::before {
  background-image: url('../img/meta-logo.png');
}

.about-description {
  font-size: 16px;
  margin-bottom: 25px;
}

.about-director,
.about-writers,
.about-starring {
  margin: 4px;
  margin-left: 0;
  font-size: 13px;
  color: #949494;
}

.about-add-favorite {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: none;
}

.add-active path {
  fill: #df2525;
}

.watch-on-imdb {
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  border: none;
  background-color: #ffdd2d;
  transition: all 0.4s ease;
}

.watch-on-imdb i {
  transition: all 0.4s ease;
}

.watch-on-imdb:hover {
  background-color: #ffc72d;
}

.watch-on-imdb:hover i {
  transform: translateX(3px);
}