#movies-slider {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 90px;
  margin-bottom: 50px;
}

.owl-nav {
  height: 0;
  margin: 0;
}

.owl-carousel .owl-nav .owl-prev:before {
  content: "";
  position: absolute;
  top: 0;
  left: -75px;
  width: 60px;
  height: 100%;
  background-image: url('../img/left-arrow.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  transition: all 0.4s ease;
  opacity: 0;

  @media (max-width: 1000px) {
    left: -60px;
  }
}

.owl-carousel .owl-nav .owl-next:after {
  content: "";
  position: absolute;
  top: 0;
  right: -75px;
  width: 60px;
  height: 100%;
  background-image: url('../img/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  transition: all 0.4s ease;
  opacity: 0;

  @media (max-width: 1000px) {
    right: -60px;
  }
}

.disabled {
  cursor: default;
}

.owl-carousel:hover .owl-nav .owl-prev:before {
  opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-next:after {
  opacity: 1;
}

.owl-dots {
  @media (min-width: 0px) {
    position: absolute;
    top: -35px;
    right: 0;
    z-index: 500;
  }

  @media (min-width: 768px) {
    right: 20px;
  }

  @media (min-width: 1213px) {
    right: 25px;
  }
}

.owl-carousel:hover .owl-dots {
  opacity: 1;
}